FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

NEXTAUTH_URL=http://localhost:3000
SECRET=
JWT_SIGNING_PRIVATE_KEY=
PASSWORD_MINLENGTH=

SENDGRID_API_KEY=
MONGODB_URI=

EMAIL_FROM_NAME=
EMAIL_FROM_EMAIL=
EMAIL_SERVICE=
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=